.color-main {
  color: #01aab6; }

.color-second {
  color: #b45d01; }

.text-main {
  color: #010101; }

.container {
  width: 1200px;
  margin: 0 auto; }

.logo {
  margin-top: 30px;
  margin-bottom: 30px; }
  .logo img {
    display: block; }

.menu-link {
  margin-top: 7px;
  margin-bottom: 21px;
  line-height: 22px; }
  .menu-link a, .menu-link span, .menu-link div {
    float: right; }
  .menu-link a {
    color: #a0a0a0; }
  .menu-link .link {
    width: 1px;
    height: 12px;
    margin: 6px 11px 0;
    background-color: #cfcfcf; }

.lang {
  position: relative;
  width: 53px;
  height: 22px;
  background-color: #ececec;
  color: #a0a0a0;
  text-align: center; }
  .lang:after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 0 2px 2px;
    border-left: 1px solid #b5b5b5;
    border-bottom: 1px solid #b5b5b5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .lang ul {
    display: none;
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0;
    width: 95px;
    background-color: #ececec; }
    .lang ul a {
      display: block;
      width: 100%;
      height: 28px;
      line-height: 28px;
      text-align: center; }
      .lang ul a:hover {
        color: #01aab6;
        background-color: #e0e0e0; }
  .lang:hover ul {
    display: block; }

nav > ul > li {
  float: left; }
  nav > ul > li > a {
    color: #000;
    font-weight: bold; }
    nav > ul > li > a:after {
      content: "";
      display: none;
      position: absolute;
      bottom: -5px;
      left: 50%;
      margin-left: -5px;
      border-top: 5px solid #f5f5f5;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent; }
  nav > ul > li:hover a, nav > ul > li.current a {
    background-color: #f5f5f5; }
  nav > ul > li:hover a:after, nav > ul > li.current a:after {
    display: block; }
  nav > ul > li > ul {
    padding-top: 0px; }
nav ul ul {
  display: block;
  -webkit-transition: all 0.5s linear 0s;
  -moz-transition: all 0.5s linear 0s;
  -ms-transition: all 0.5s linear 0s;
  -o-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
  position: absolute; }
  nav ul ul a {
    height: 0px;
    overflow: hidden;
    color: #000;
    line-height: 41px;
    -webkit-transition: all 0.5s linear 0s;
    -moz-transition: all 0.5s linear 0s;
    -ms-transition: all 0.5s linear 0s;
    -o-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s; }
    nav ul ul a:hover {
      background-color: #eaeaea; }
nav li {
  position: relative; }
  nav li:hover > ul {
    padding-top: 17px; }
    nav li:hover > ul a {
      height: 41px; }
  nav li a {
    display: block;
    width: 114px;
    height: 53px;
    text-align: center;
    line-height: 53px; }

body > footer {
  padding-top: 74px;
  background-color: #eaeaea; }

#copyright {
  margin-top: 59px;
  border-top: 1px solid #bdbdbd;
  line-height: 48px;
  color: #a0a0a0; }

.footer-contact-info h5 {
  margin-bottom: 24px;
  font-size: 24px;
  color: #717171; }
.footer-contact-info p {
  font-size: 13px;
  color: #a0a0a0;
  line-height: 23px; }
.footer-contact-info a {
  color: #a0a0a0; }

.share {
  margin-top: 38px; }
  .share a {
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 24px;
    background-color: #a0a0a0;
    border-radius: 100px; }
    .share a:hover p {
      visibility: visible;
      bottom: 150%;
      opacity: 1;
      filter: alpha(opacity=100); }
  .share p {
    display: block;
    visibility: hidden;
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin-left: -44px;
    padding: 4px;
    background-color: #fff;
    border-radius: 6px;
    opacity: 0;
    filter: alpha(opacity=0);
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.16));
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .share p:after {
      content: "";
      position: absolute;
      bottom: -8px;
      left: 50%;
      margin-left: -4px;
      border-top: 8px solid #fff;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent; }
  .share img {
    width: 100%;
    height: 100%; }
  .share a:first-child {
    background: url(../images/icon-share.png) no-repeat 0 0 #a0a0a0; }
    .share a:first-child:hover {
      background-color: #dc261b; }
  .share a:last-child {
    background: url(../images/icon-share.png) no-repeat -30px 0 #a0a0a0; }
    .share a:last-child:hover {
      background-color: #3cb035; }

.footer-menu dl {
  margin-right: 38px;
  float: left; }
  .footer-menu dl img {
    width: 100%;
    height: 100%;
    margin-bottom: 9px;
    border: 2px solid #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
.footer-menu dt {
  padding-bottom: 7px;
  padding-right: 30px;
  margin-bottom: 14px;
  margin-top: 6px;
  border-bottom: 1px solid #c5c5c5; }
.footer-menu dd {
  line-height: 24px; }
.footer-menu a {
  color: #717171; }

.wechat-code {
  width: 78px; }

.clear:after {
  content: "";
  display: block;
  clear: both; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.text-left {
  text-align: left; }

.tetx-right {
  text-align: right; }

.text-center {
  text-align: center; }
