@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1592380970254'); /* IE9 */
  src: url('iconfont.eot?t=1592380970254#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALIAAsAAAAABqQAAAJ8AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBCIEOATYCJAMMCwgABCAFhG0HOxvZBcieg3FDX2I5L2/Sltb2EkMEX2Ov++7uI7ogqEw8j0eQUR3P46ta4yJsXY1vPRuRP/fTrIAKSMaNS6RGpEr2Q/vym1J6aTpGC2TEjJvqhAShAHVzgmcopc/ffZ7L6d1VQIHMb1kucyw/6gUYBxToWIMiK6IAuKV2EScErfzCcQJNs0b0Hc8s5ZFFgcYF4g3VFGRpxRQlKtaF6sjSIr6qqKfPqYsv8vvx305YSCoZmnryPF1GY79Mveh3X3c9cEKc4K6uIGMbUoin0dwNvYjYek2dYb66qgjpqGSvh5SVhupD/3iJqEKNbbDu5hO/qlRI8PtlhQQyqLbti16jAGN/2xADh6bd7F2fu8uXux64unjY85a0WGp8I2YviaXulJOdfm/F2/OspAdW/ats2orny1NBKxdFZ3cImYxQF10N2Lri0BCSoZ9J39ITpB+JQPDp5u1F6vVvsRfws/emtBSwAPWn+4O/JQe2lVKJ7LnkMiqrA9kA4Em4kjjoFQoNvW43TMCthLrJhkDNjEVWt0wW1jYqWnZRVbeHpi2zq1tGOL0oDWw6chD6HpF0fUfW90wW1gsqpt5R1Q89mq7Cli2rQW1zUASUsbqGaYk1CXEKm2rOgtapK7yplJwi8DZN4nAg1C3OQhP4ETPay1pECIIJZw0845wG9TrDLc6qUBKBihCtTDBIxt4UKLEGsjnCAYUAyjDVGowqYZoI7y7Yep/PApqOOgWfoS1EiwDXRvvHwgJCAHJW1wTRPuWVtmWaCEEgMIJjGrAZZxCoq2Ow1vigKlAiBFQ2ZFoygrgTgeoC1xsa37cHmtAdOVLkKGpvqbKu0IS5SpWmYB2EAA==') format('woff2'),
  url('iconfont.woff?t=1592380970254') format('woff'),
  url('iconfont.ttf?t=1592380970254') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1592380970254#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiazai6:before {
  content: "\e606";
}

.icon-jiantou:before {
  content: "\e7a7";
}

